<%= form_for(@micrositio) do |f| %>
  <% if @micrositio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@micrositio.errors.count, "error") %> prohibited this micrositio from being saved:</h2>

      <ul>
      <% @micrositio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
