

<section>
  <h3> Selecciona tus preferencias  </h3>
  <%= render 'shared/menu_seleccion_settings' %>
</section>


<section>
  <h3> Selecciona Mínimo una Actividad  </h3>
  <%= render 'shared/actividadespadre' %>
</section>

<section>
  <h3> Selecciona Mínimo una Actividad  </h3>
  <%= render 'shared/actividades' %>
</section>

