// Place all the styles related to the estados controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.titulosettings{

}

.descripcionmicrositios{
  overflow-wrap: break-word;
  height: 100px;
  overflow: hidden;
}

.estados{
  float: left;
  width: 160px;
  height: 250px;
  text-align: center;
  background-color: #d9d9d9;
  float: left;
  opacity: .8;
  border-radius: 2px;
  box-shadow: 2px 2px 1px #888888;
  padding: 5px;
  margin-top: 10px;
  margin-right: 8px;

}
.estadostitulo{
  float: left;
  width: 100%;
  background-color: #005200;
  margin-bottom: 2px;
  color: white;
}

.estadostitulo:link{
  color: white;
  background-color: #008000;
}

.estadostitulo:visited {
  color: white;
}
.estadostitulo:hover {
  color: white;
}

.estadoimagen{
  width: 100%;
  height: 145px;
  float: left;
  text-align: left;
  overflow: hidden;
}

.estadoarticulo{
  width: 100%;
  height: 45px;
  float: left;
  overflow: hidden;
  text-align: left;
  line-height: 15px;
  font-size: smaller;
}

.estadobarrafollow{
  padding-top: 3px;
  padding-left: 5px;
  float: left;
  text-align: left;
  width: 155px;
  height: 35px;
  border-top: 1px solid #ffffff;
  background-color: #A6A7A8;
  background-image: -moz-linear-gradient(top, #bcbec0 0%, #979797 100%);
  background-image: -webkit-linear-gradient(top, #bcbec0 0%, #979797 100%);
  background-image: -ms-linear-gradient(top, #bcbec0 0%, #979797 100%);
  background-image: linear-gradient(top, #bcbec0 0%, #979797 100%);
}

.estadofollow{

  float: left;
  text-align: left;
  width: 50%;

}

.estadocontador{
  float: right;
  text-align: right;
  height: 35px;
  width: 40%;
  font-weight: bold;
  font-size: smaller;
  line-height: 15px;
  padding-right: 5px;
}


.imagenprinc{
  float: left;
  width: 65%;
  height: 415px;
  text-align: center;
  margin-bottom: 10px;
}

.contenedoreventoslista{
  float: left;
  width: 80%;
}

.listaeventos{
  float: left;
  width: 100%;
  height: 100px;
  margin-top: 5px;
  overflow: hidden;
  overflow-wrap: break-word;
}



.imagenlistaeventos{
  float: left;
  width: 20%;
  height: 100%;
  margin-right: 10px;
  vertical-align: middle;


}

.textolistaeventos{
  float: left;
  width: 75%;
}

.nombrelistaeventos{
  font-weight: bold;
  float: left;
  width: 100%;
}

.ubicacionlistaeventos{
  font-style: italic;
  float: left;
  width: 100%;
}

.descripcionlistaeventos{
  float: left;
  width: 100%;
  overflow-wrap: break-word;
}




