// Place all the styles related to the micrositios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fotoscontainer{
  width: 700px;
  height: 700px;
}

.fototitulo{
  width: 500px;
   float: left;
 }

.fotogrande{
  width: 500px;
  height: auto;
  float: left;
}