
    <div id="follow_form">
      <% if current_user.followingactividad?(@actividad) %>
          <%= render 'unfollow' %>
      <% else %>
          <%= render 'follow' %>
      <% end %>
    </div>
